<section>
  <h1>Контакты</h1>
  <ul class="sociallinks-ul">
  	<li class="sociallinks">
  		<a href="http://vk.com/lex_belov" class="vk" target="_blank">ВКонтакте</a>
  	</li>
  	<li class="sociallinks">
  		<a href="http://www.facebook.com/lexbelov" class="facebook" target="_blank">Facebook</a>
  	</li>
  	<li class="sociallinks">
  		<a href="skype:monteg18?chat" class="skype" target="_blank">monteg18</a>
  	</li>
  	<li class="sociallinks">
  		<a href="http://www.linkedin.com/in/belovalexander" class="linkedin" target="_blank">Linkedin</a>
  	</li>
    <li class="sociallinks">
      <a href="https://github.com/AlexBelov" class="github" target="_blank">GitHub</a>
    </li>
  	<li class="sociallinks">
  		<a href="mailto:belovby@gmail.com" class="email" target="_blank">belovby@gmail.com</a>
  	</li>    
  </ul>
</section>
